@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: auto;
  max-width: 1500px;
}

.active {
  color: "#6CDE7B";
}

.bg-header {
  background-image: url(https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me {
  background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
}

@layer components {
  .app-layout {
    @apply flex flex-col;
  }
}
